# Environment & Virtual Settings
.venv/
venv/
env/
ENV/
.env
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
build/
dist/
*.egg-info/
.eggs/
*.egg
.Python
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg

# Rust & WASM
target/
frontend/target/
frontend/dist/
frontend/Cargo.lock
**/*.rs.bk

# Engine Binaries
engine/engine.dll
engine/engine.so
engine/engine.dylib

# OS
.DS_Store
Thumbs.db
